:root {
    /* Font-related variables */
    --font-primary: "TexGyreAdventor", sans-serif;
    --font-secondary: "Poppins", sans-serif;
    
    /* Text Size */
    --fs-xxsm: 0.5rem;
    --fs-xsm: 0.6rem;
    --fs-sm: 0.7rem;
    --fs-md: 0.8rem;
    --fs-reg: 0.9rem;
    --fs-lg: 1rem;
    --fs-xlg: 1.5rem;
    --fs-xxlg: 2rem;
    
    /* Font Weight */
    --fw-snormal: 300;
    --fw-normal: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-xbold: 800;
    --fw-xxbold: 900;
    
    /* Colors */
    --clr-white: #ffffff;
    --clr-primary-color: #00573f;
    --clr-secondary-color: #EEE7CE;
    --clr-text-color: #000033;
    --clr-text-color-two: #444444;
    --clr-accent-color: #4d4d4d;
    --clr-accent-color-two: #ebebeb;
    --clr-accent-color-three: #c0c0c0;
    --clr-accent-color-four: #f7f7f7;
    --clr-bg-color: #FFFCF6;
    --clr-bg-color-two: #e8efec;
    --clr-bg-color-hover: #00573f;
    --clr-bg-color-hover-light: #5f867c;
    --clr-highlight-color: #eeeeee;
    --clr-border-color: rgba(255, 255, 255, 0.03);
    
    /* Transitions */
    --transition-duration: 0.4s;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
    
    /* Tabs specific */
    --tabs-gap: .3rem;
    --tab-padding: 0.45rem 1.7rem;
    --tab-border-radius: 25px;
    --tab-font-size: .77rem;
    --tab-font-weight: 500;
    --tabs-nav-padding: 0.475rem;
    --tab-background-color: #f8f8f8;

    /* Button Padding */
    --button-padding-y: 0.5rem;
    --button-padding-x: 1rem;

    --progress-bar-start-color: #00573f;
	--progress-bar-stop-color: #00af35;
	--progress-bar-track-color: #eeeeee;
	--progress-bar-height: 5px;
	--progress-bar-width: 0;
}

/* Wordpress Default CSS */
.post-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.post-content iframe,
.post-content embed,
.post-content object,
.post-content video {
    max-width: 100%;
    height: auto;
}

.post-content table {
    width: 100%;
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.post-content pre,
.post-content code {
    white-space: pre-wrap;
    word-wrap: break-word;
}


.post-content p,
.post-content ul,
.post-content ol,
.post-content blockquote {
    overflow-wrap: break-word;
    margin: 1.3rem 0 !important;
    line-height: 1.85;
    font-size: calc(var(--fs-md) + 0.15rem);
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    overflow-wrap: break-word;
    margin: 1.7rem 0 !important;
}
/* End of Wordpress Default CSS */

::-webkit-scrollbar {
    width: .8rem;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #00573f 0%, #00af35 100%);
    border-radius: 8px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clr-primary-color);
}

::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 8px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #00573f #eeeeee;
}

@-webkit-keyframes scroll-thumb-animate {
    0% { background: #00573f; }
    50% { background: #00af35; }
    100% { background: #00573f; }
}

@keyframes scroll-thumb-animate {
    0% { background: #00573f; }
    50% { background: #00af35; }
    100% { background: #00573f; }
}

::-webkit-scrollbar-thumb:active {
    -webkit-animation: scroll-thumb-animate 0.8s linear;
            animation: scroll-thumb-animate 0.8s linear;
}

html {
    scroll-behavior: smooth;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
}


a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


body {
    font-family: var(--font-primary);
    padding: 0 !important;
    margin: 0 !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: var(--clr-white);
    margin-top: 130px !important;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-weight: var(--fw-bold);
}

p, ul, li, a{
    font-family: var(--font-secondary);
    text-decoration: none;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: none;    
}

.container {
    max-width: 1200px;
}

/* FOOTER */
.span-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
}
.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    gap: 1.5em;
}

.social-icon {
    width: 37px;
    height: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    padding: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-icon svg {
    fill: var(--clr-primary-color);
    width: 18px;
    height: 18px;
    -webkit-transition: fill 0.3s ease, -webkit-transform 0.3s ease;
    transition: fill 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: fill 0.3s ease, transform 0.3s ease;
    transition: fill 0.3s ease, transform 0.3s ease;
    transition: fill 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.social-icon:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    background-color: var(--clr-primary-color);
    padding: 100px;
}

.social-icon:hover svg {
    fill: var(--clr-bg-color);
    width: 15px;
    height: 15px;
}

.logo-container .seal {
    width: 120px;
    height: 120px;
    margin: 50px 0;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 100%;
}

.footer-links ul li a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--clr-text-color) !important;
    cursor: pointer;
    font-weight: var(--fw-normal);
    text-transform: uppercase;
    font-size: var(--fs-sm);
    padding: 4px 0 !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1% 0 0 0 !important;
    font-weight: var(--fw-semi-bold);
}

.footer-links ul li a:hover {
    color: var(--clr-primary-color) !important;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    font-weight: var(--fw-bold);
}

.footer-row{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    gap: 2em;
    width: 100%;
    margin-left: 20%;
}

.footer-row h4 {
    font-size: clamp(var(--fs-sm), 5vw, var(--fs-md));
    text-transform: uppercase;
    color: var(--clr-primary-color);
}

.footer-links .special-a{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-transform: none;
}
/* END OF FOOTER */

/* Single Post */
.single-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

.single-container{
    width: 950px;
}

.post-content {
    font-size: clamp(var(--fs-sm), 4vw, var(--fs-reg)); 
    line-height: 1.6; 
    margin-top: 20px;
    padding-bottom: 40px; 
    word-wrap: break-word ; 
    overflow-wrap: break-word ; 
    white-space: normal; 
    max-width: 100%; 
}



.post-title-category .category-title-link {
    text-decoration: none;
    color: var(--clr-primary-color);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.post-title-category .category-title-link:hover {
    
    color: var(--clr-text-color);
}


.post-date {
    font-size: calc(var(--fs-sm) + .05rem);
}

.post-time {
    font-size: var(--fs-sm);
}

.post-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 7em;
    font-size: var(--fs-lg);
}

.post-navigation .nav-previous a,
.post-navigation .nav-next a {
    font-size: var(--fs-md); 
}

.post-nav-txt {
    font-size: var(--fs-sm);
    font-style: italic;
    color: #808080;
}

.tag-badge {
    display: inline-block;
    background-color: var(--clr-primary-color);
    padding: calc(var(--button-padding-y) - .2rem) calc(var(--button-padding-x) + .1rem)!important;
    margin: .4rem .15rem 0;
    font-size: var(--fs-sm);
    border-radius: 1.2rem;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.tag-badge:hover {
    background-color: var(--clr-bg-color-hover-light);    
}

.tag-badge a {
    color:var(--clr-bg-color);
    text-decoration: none;
}

.tag-label {
    font-size: var(--fs-sm);
    font-family: var(--font-secondary);
    margin: .6em 0;
    color: #444;
}

.nav-next .fa-chevron-right{
    margin-left: 8px;
}
.nav-previous .fa-chevron-left{
    margin-right: 8px !important;
}

.nav-previous a, .nav-next a {
    color: var(--clr-primary-color);
    text-decoration: none;
    font-weight: var(--fw-semi-bold);
    position: relative; 
}

.nav-previous a::after, .nav-next a::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 1px; 
    background-color: var(--clr-primary-color); 
    -webkit-transition: width 0.3s ease; 
    -o-transition: width 0.3s ease; 
    transition: width 0.3s ease;
}

.nav-previous a:hover::after, .nav-next a:hover::after {
    width: 100%; 
}

.related-posts {
    margin-top: 3em;
}

.related-posts h3 {
    font-size: var(--fs-xlg);
    margin-bottom: 1em;
}

.related-posts-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 260px));
    gap: 20px;
    place-items: center;
}

.related-post-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 15px;
    -webkit-box-shadow: 2px 0 10px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 0 10px 2px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 100%; /* Ensures equal height in grid */
}

.related-post-item-link {
    text-decoration: none;
    color: inherit;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}


.related-post-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.related-post-thumbnail {
    overflow: hidden;
}

.related-post-thumbnail img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.related-post-thumbnail img:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}

.related-post-title {
    font-size: var(--fs-lg);
    margin: 0 1em 0.5em;
}

.related-post-title:hover {
    color: var(--clr-primary-color);
}

.related-post-excerpt {
    font-size: var(--fs-md);
    color: #666;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
    padding: 0 1.2em !important;
}

.see-more-btn {
    background-color: var(--clr-primary-color);
    color: white;
    padding: var(--button-padding-y) var(--button-padding-x);
    font-size: var(--fs-md);
    margin: 1.8em 1.2em 2.5em 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--fs-sm);
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.see-more-btn:hover {
    background-color: var(--clr-text-color);
}
/* End of Single Post */

/* Sidebar*/
.sidebar {
    background-color: var(--clr-accent-color-two);
    border-radius: 15px;
    height: 100%;
    width: 250px;
}

.categories h5 {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-color);
    font-size: clamp (var(--fs-md), 3vw, var(--fs-reg));
}

.category-link {
    font-size: var(--fs-md);
    color: var(--clr-text-color);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.category-link:hover{
    color: var(--clr-primary-color);
    font-weight: var(--fw-bold);
}

.totalpost h5 {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-color);
    font-size: clamp (var(--fs-md), 3vw, var(--fs-reg));
}

.totalpost li {
    font-size: var(--fs-md);
    color: var(--clr-text-color);
}
/* End of Sidebar */

/* More Related */
.more-related {
    padding: 2% 15%;

}


.more-news-container .more-spaces{
    width: 7px;
    border-radius: 5px;
    background-color: var(--clr-primary-color);
    height: 1.5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 20px 0 0;
}

.more-news-container h2 {
    color: var(--clr-text-color) !important;
    font-size: clamp(1.8rem, 2.5vw, 2rem)!important;
}
/* End of More Related */

/* Most Recent */
.more-news {
    padding: 2% 15% 5% 15%;
}

.most-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 300px));
    place-items: center;
    gap: 1rem;
}
  
.most-header {
    font-size: clamp(var(--fs-xlg), 3vw, var(--fs-xxlg));
    color: var(--clr-text-color);
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1.5em 0;
}

.most-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 16px;
    background-color: var(--clr-white);
    -webkit-box-shadow: 
        0 1px 3px rgba(0, 0, 0, 0.12), 
        0 4px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 
        0 1px 3px rgba(0, 0, 0, 0.12), 
        0 4px 6px rgba(0, 0, 0, 0.1);
}

.most-thumbnail {
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.most-thumbnail img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.most-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 180px; 
    padding: 20px 15px;
}

.most-title {
    font-size: var(--fs-reg);
    margin-bottom: 10px;
    font-weight: var(--fw-semi-bold);
}

.most-title a {
    text-decoration: none;
    font-family: var(--font-primary);
    color: var(--clr-text-color);
}

.most-title a:hover {
    color: var(--clr-primary-color);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.most-thumbnail img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    cursor: pointer;
}

.most-item:hover {
    cursor: pointer;
}

.most-meta-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    font-size: var(--fs-md);
    color: #888;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.most-excerpt {
    font-size: var(--fs-md);
    color: #666;    
    line-height: 1.5;
}

.most-meta-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.most-meta-reading-time {
    font-weight: var(--fw-snormal);
    font-size: var(--fs-xxsm);
    color: var(--clr-accent-color);
    text-transform: uppercase;
}

.most-meta-category {
    font-weight: var(--fw-bold);
    font-size: var(--fs-xxsm);
    color: var(--clr-accent-color);
    text-transform: uppercase;
}
/* End of Most Recent */

/* 404 */ 
.hero-error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.error-text {
    font-size: var(--fs-xlg);
    font-weight: var(--fw-bold);
    font-family: var(--font-primary);
    color: var(--clr-primary-color);
    text-align: center;
    width: 70%;
}

.error-img {
    width: 50%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.error-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
}

.custom-search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 2rem;
    width: 100%;
}



.custom-search-input,
.custom-search-button {
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: var(--button-padding-y) var(--button-padding-x) !important;
    border-radius: 50px;
    font-size: var(--fs-sm);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.custom-search-input {
    width: min(max(260px, 50%), 400px);
    font-family: var(--font-secondary);
    font-weight: var(--fw-normal);
    font-size: calc(var(--fs-md) + 0.1rem);
    font-style: normal;
    border: 1px solid var(--clr-accent-color);
}

.custom-search-input::-webkit-input-placeholder {
    font-family: var(--font-secondary);
    font-weight: var(--fw-normal);
    font-size: calc(var(--fs-xsm) + 0.15rem);
    font-style: normal;
}

.custom-search-input::-moz-placeholder {
    font-family: var(--font-secondary);
    font-weight: var(--fw-normal);
    font-size: calc(var(--fs-xsm) + 0.15rem);
    font-style: normal;
}

.custom-search-input:-ms-input-placeholder {
    font-family: var(--font-secondary);
    font-weight: var(--fw-normal);
    font-size: calc(var(--fs-xsm) + 0.15rem);
    font-style: normal;
}

.custom-search-input::-ms-input-placeholder {
    font-family: var(--font-secondary);
    font-weight: var(--fw-normal);
    font-size: calc(var(--fs-xsm) + 0.15rem);
    font-style: normal;
}

.custom-search-input::placeholder {
    font-family: var(--font-secondary);
    font-weight: var(--fw-normal);
    font-size: calc(var(--fs-xsm) + 0.15rem);
    font-style: normal;
}

.custom-search-input:focus {
    border: 1px solid var(--clr-primary-color);
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
}

.custom-search-button {
    font-weight: var(--fw-normal);
    font-family: var(--font-secondary);
    background-color: var(--clr-primary-color);
    color: var(--clr-white);
    border: none;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.custom-search-button:hover {
    color: var(--clr-white);
    background-color: var(--clr-text-color);
}

.home-link {
    font-family: var(--font-secondary);
    font-size: var(--fs-md);
    font-weight: var(--fw-snormal);
    color: var(--clr-white);
    background-color: var(--clr-primary-color);
    padding: var(--button-padding-y) var(--button-padding-x) !important;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    margin: 2rem 0 3rem 0 !important;
}

.home-link:hover {
    color: var(--clr-white);
    background-color: var(--clr-text-color);
}

/* End of 404 */



/* MEDIA */

/* Media query for screens smaller than or equal to 1024px */
@media (max-width: 1024px) {

    .more-related, .more-news {
        padding: 2% 3%;
    }
}

/* Media query for screens smaller than or equal to 768px */
@media (max-width: 768px) {
    .most-grid {
        grid-template-columns: repeat(auto-fit, minmax(260px, 2fr));
    }

    .related-posts-grid {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .sidebar {
        display: none;
    }
}

/* Media query for screens smaller than or equal to 500px */
@media (max-width: 500px) {
    footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-row {
        margin: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .logo-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

/* Category Page */
.category-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35dvh;
}

.category-content {
    width: 100%;
    max-width: 1250px;
}

.category-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.category-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem .5rem;
    gap: .6rem;
    width: 250px;
}

.category-thumbnail img {
    width: 100%;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-thumbnail img:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.category-title {
    line-height: .4;
}
.category-title a{
    color: var(--clr-primary-color);
    font-size: var(--fs-reg);
    font-weight: var(--fw-semi-bold);
}

.category-title a:hover {
    color: var(--clr-text-color);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.category-excerpt {
    font-size: calc(var(--fs-sm) + .05rem);
    color: var(--clr-accent-color);
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    text-wrap: wrap;
}

.category-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    gap: 2rem;
    -webkit-animation: slideFade 0.5s ease-in-out both;
            animation: slideFade 0.5s ease-in-out both;
}

.pagination button {
    background: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: background-color 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.pagination button i {
    font-size: 0.8rem;
    color: var(--clr-primary-color);
}

.pagination button:hover:not(:disabled) {
    background-color: var(--clr-primary-color);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.pagination button:hover:not(:disabled) i {
    color: white;
}

.pagination button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    border-color: #ccc;
}

@-webkit-keyframes slideFade {
    from {
        opacity: 0;
        -webkit-transform: translateY(15px);
                transform: translateY(15px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes slideFade {
    from {
        opacity: 0;
        -webkit-transform: translateY(15px);
                transform: translateY(15px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

.ri-progress-8-line {
    font-size: .5rem;
}

.grh-content-header {
    color: var(--clr-white);
    background-color: var(--clr-primary-color);
}

.grh-content-two {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.ri-sun-cloudy-fill, 
.ri-time-fill,
.ri-door-closed-fill {
    font-size: var(--fs-xlg);
    color: var(--clr-primary-color);
}