:root {
    /* Font-related variables */
    --font-primary: 'Tex Gyre Adventor', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    
    /* Text Size variables */
    --fs-xsm: 0.6rem;
    --fs-sm: 0.7rem;
    --fs-md: 0.8rem;
    --fs-reg: 0.9rem
    --fs-lg: 1rem;
    --fs-xlg: 1.5rem;
    --fs-xxlg: 2rem;
    
    /* Other Text-related variables */
    --fw-snormal: 300;
    --fw-normal: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    
    /* Colors */
    --clr-primary-color: #00573f;
    --clr-secondary-color: #EEE7CE;
    --clr-text-color: #000033;
    --clr-accent-color: #4d4d4d;
    --clr-accent-color-two: #ebebeb;
    --clr-bg-color: #FFFCF6;
    --clr-bg-color-hover: #00573f;
    --clr-bg-color-hover-light: #5f867c;
    --clr-highlight-color: #eeeeee;
    --clr-border-color: rgba(255, 255, 255, 0.03);
    
    /* Transitions */
    --transition-duration: 0.4s;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
    
    /* Tabs specific */
    --tabs-gap: .3rem;
    --tab-padding: 0.45rem 1.7rem;
    --tab-border-radius: 25px;
    --tab-font-size: .7rem;
    --tab-font-weight: 500;
    --tabs-nav-padding: 0.475rem;
    --tab-background-color: #f8f8f8;

    /* Button Padding */
    --button-padding-y: 0.5rem;
    --button-padding-x: 1rem;
}

*{
    box-sizing: border-box;
}
body {
    font-family: var(--font-primary);
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    background-color: white;
    padding: 0 !important;
    margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
}

p, ul, li, a{
    font-family: var(--font-secondary);
    text-decoration: none;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: none;    
}
.container {
    max-width: 1200px;

}

/* FOOTER */
.span-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
}
.social-media {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    gap: 1.5em;
}

.social-icon {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.social-icon svg {
    fill: var(--clr-primary-color);
    width: 18px;
    height: 18px;
    transition: fill 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    background-color: var(--clr-primary-color);
    padding: 100px;
}

.social-icon:hover svg {
    fill: var(--clr-bg-color);
    width: 15px;
    height: 15px;
}

.logo-container .seal {
    width: 120px;
    height: 120px;
    margin: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.footer-links ul li a{
    display: flex;
    color: var(--clr-text-color) !important;
    cursor: pointer;
    font-weight: var(--fw-normal);
    text-transform: uppercase;
    font-size: var(--fs-sm);
    padding: 4px 0 !important;
    flex-wrap: wrap;
}

.footer-links ul li a:hover {
    color: var(--clr-primary-color) !important;
    transform: scale(1.05);
    font-weight: var(--fw-bold);
}

.footer-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    gap: 2em;
    width: 100%;
    margin-left: 20%;
}

.footer-row h4 {
    font-size: clamp(var(--fs-sm), 5vw, var(--fs-md));
    text-transform: uppercase;
}

.footer-links .special-a{
    flex-wrap: wrap;
    text-transform: none;
}
/* END OF FOOTER */

/* Single Post */
.single-main {
    display: flex;
    justify-content: left;
    align-items: start;
}

.single-container{
    width: 950px;
}

.post-content {
    font-size: clamp(var(--fs-sm), 4vw, var(--fs-reg)); 
    line-height: 1.6; 
    margin-top: 20px;
    padding-bottom: 40px; 
    word-wrap: break-word ; 
    overflow-wrap: break-word ; 
    white-space: normal; 
    max-width: 100%; 
}

.post-title {
    padding: 1em 0 0 0 ;
}

.post-date {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
}

.post-time {
    font-size: var(--fs-sm);
}

.post-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 7em;
    font-size: var(--fs-lg);
}

.post-navigation .nav-previous a,
.post-navigation .nav-next a {
    font-size: var(--fs-md); 
}

.post-nav-txt {
    font-size: var(--fs-sm);
    font-style: italic;
    color: #808080;
}

.tag-badge {
    display: inline-block;
    background-color: var(--clr-primary-color);
    padding: 6px 16px;
    margin: 0 3px 6px 0;
    font-size: var(--fs-md);
    border-radius: 4px;
    transition: background-color 0.2s;
}
.tag-badge:hover {
    background-color: var(--clr-bg-color-hover);    
}

.tag-badge a {
    color:var(--clr-bg-color);
    text-decoration: none;
}

.tag-label {
    font-weight: bold;
    font-size: var(--fs-md);
    margin: .5em 0;
    color: #444;
}

.nav-next .fa-chevron-right{
    margin-left: 8px;
}
.nav-previous .fa-chevron-left{
    margin-right: 8px !important;
}

.nav-previous a, .nav-next a {
    color: var(--clr-primary-color);
    text-decoration: none;
    font-weight: var(--fw-semi-bold);
    position: relative; 
}

.nav-previous a::after, .nav-next a::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 1px; 
    background-color: var(--clr-primary-color); 
    transition: width 0.3s ease;
}

.nav-previous a:hover::after, .nav-next a:hover::after {
    width: 100%; 
}

.related-posts {
    margin-top: 3em;
}

.related-posts h3 {
    font-size: var(--fs-xlg);
    margin-bottom: 1em;
}

.related-posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 300px));
    gap: 20px;
    place-items: center;
}

.related-post-item {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 2px 0 10px 2px rgba(0, 0, 0, 0.1);
    height: auto;
    max-width: 300px;
}

.related-post-thumbnail {
    overflow: hidden;
}

.related-post-thumbnail img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
    object-fit: cover;
    transition: all 0.2s ease;
}

.related-post-thumbnail img:hover {
    transform: scale(1.02);
}

.related-post-title {
    font-size: var(--fs-lg);
    margin-bottom: 1em;
    padding: 0 1em;
}

.related-post-title:hover {
    color: var(--clr-text-color);
}

.related-post-excerpt {
    font-size: var(--fs-md);
    color: #666;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
    padding: 0 1.2em !important;
}

.see-more-btn {
    background-color: var(--clr-primary-color);
    color: white;
    padding: 8px 16px;
    font-size: var(--fs-md);
    margin: 1.5em 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--fs-sm);
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.see-more-btn:hover {
    background-color: var(--clr-text-color);
}
/* End of Single Post */

/* Sidebar*/
.sidebar {
    background-color: var(--clr-accent-color-two);
    border-radius: 15px;
    height: 100%;
    width: 250px;
}

.categories h5 {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-color);
    font-size: clamp (var(--fs-md), 3vw, var(--fs-reg));
}

.category-link {
    font-size: var(--fs-md);
    color: var(--clr-text-color);
    transition: all 0.2s ease;
}

.category-link:hover{
    color: var(--clr-primary-color);
    font-weight: var(--fw-bold);
}

.totalpost h5 {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-color);
    font-size: clamp (var(--fs-md), 3vw, var(--fs-reg));
}

.totalpost li {
    font-size: var(--fs-md);
    color: var(--clr-text-color);
}
/* End of Sidebar */

/* More Related */
.more-related {
    padding: 2% 15%;
}

.more-news-container .more-spaces{
    width: 7px;
    border-radius: 5px;
    background-color: var(--clr-primary-color);
    height: clamp(1.7em, 3vw, 2em);
    align-self: center;
    margin: 0 20px 0 0;
}

.more-news-container h2 {
    color: var(--clr-text-color) !important;
    font-size: clamp(1.8em, 3vw, 2.7em)!important;
}
/* End of More Related */

/* Most Recent */
.more-news {
    padding: 2% 15% 5% 15%;
    background-color: var(--clr-accent-color-two);
}

.most-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 300px));
    place-items: center;
    gap: 1rem;
}
  
.most-header {
    font-size: clamp(var(--fs-xlg), 3vw, var(--fs-xxlg));
    color: var(--clr-text-color);
    justify-content: center;
    display: flex;
    margin: 1.5em 0;
}

.most-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 16px;
    background-color: var(--clr-bg-color);
    box-shadow: 
        0 1px 3px rgba(0, 0, 0, 0.12), 
        0 4px 6px rgba(0, 0, 0, 0.1);
}

.most-thumbnail {
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
    align-self: center;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.most-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.most-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px; 
    padding: 20px 15px;
}

.most-title {
    font-size: var(--fs-reg);
    margin-bottom: 10px;
    font-weight: var(--fw-semi-bold);
}

.most-title a {
    text-decoration: none;
    font-family: var(--font-primary);
    color: var(--clr-text-color);
}

.most-title a:hover {
    color: var(--clr-primary-color);
    transition: all 0.2s ease;
}

.most-thumbnail img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.most-item:hover {
    cursor: pointer;
}

.most-meta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: var(--fs-md);
    color: #888;
    height: max-content;
}

.most-excerpt {
    font-size: var(--fs-md);
    color: #666;    
    line-height: 1.5;
}

.most-meta-info {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.most-meta-reading-time {
    font-weight: var(--fw-snormal);
    font-size: var(--fs-sm);
    color: var(--clr-accent-color);
    text-transform: uppercase;
}

.most-meta-category {
    font-weight: var(--fw-bold);
    font-size: var(--fs-md);
    color: var(--clr-accent-color);
    text-transform: uppercase;
}
/* End of Most Recent */


/* MEDIA */
@media (min-width: 1024px) {
    
}

/* Media query for screens smaller than or equal to 1024px */
@media (max-width: 1024px) {

    

    .more-related, .more-news {
        padding: 2% 3%;
    }
}

/* Media query for screens smaller than or equal to 768px */
@media (max-width: 768px) {
    .most-grid {
        grid-template-columns: repeat(auto-fit, minmax(260px, 2fr));
    }

    .related-posts-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* Media query for screens smaller than or equal to 500px */
@media (max-width: 500px) {
    footer .container {
        flex-direction: column;
    }

    .footer-row {
        margin: 0;
        justify-content: center;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

