/* General Code for Custom Pages*/

.global-pages-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}
.global-pages-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.global-left-hero,
.global-right-hero{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 clamp(400px, 50%, 100%);
            flex: 1 1 clamp(400px, 50%, 100%);
}

.global-pages-container h2 {
    text-transform: uppercase;
    font-size: var(--fs-reg);
}

.hero-header-one,
.hero-header-two{
    font-family: var(--font-secondary);
    font-weight: var(--fw-semi-bold);
    letter-spacing: -1.9px;
    font-size: clamp(3.7rem, 7vw, 5rem);
    line-height: 0.9;
}
.hero-header-one {
    color: var(--clr-primary-color);
}

.global-right-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.subheader {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-color);
    width: 100%;
    font-size: var(--fs-sm);
}

.subsubheader,
.global-hero-subheader,
.gh-subsubheader {
    font-size: calc(var(--fs-sm) + 0.17rem);
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
}

.global-hero-subheader,
.gh-subsubheader {
    width: 70%;
}


.global-right-hero img {
    width: 85%;
    height: 100%;
}

.content-header,
.content-text{
    font-size: calc(var(--fs-sm) + .1rem);
    font-family: var(--font-secondary);
    
}

.content-header {
    font-weight: var(--fw-xxbold);
    color: var(--clr-primary-color);
}


/* General breadcrumb styles */
.breadcrumb {
    padding: 1.5rem 0 ;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: var(--fs-sm);
    font-family: var(--font-secondary);
    letter-spacing: -.5px;
}
.breadcrumb-item {
    display: block;
    position: relative;
}

/* Separator between breadcrumb items */
.breadcrumb-item + .breadcrumb-item::before {
    content: '/';
    font-size: var(--fs-xxsm);
    padding: 0 .4rem;
    line-height: 2.5;
    color: var(--clr-primary-color);

}

/* Base link style */
.breadcrumb-item a {
    font-family: var(--font-primary);
    color: var(--clr-primary-color);
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-size: var(--fs-xsm);
    text-decoration: none;
    position: relative;
    display: inline-block; 
    letter-spacing: 0.3px;
}


.breadcrumb-item a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; /* space between text and line */
    width: 0%;
    height: 1px;
    background-color: var(--clr-primary-color);
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.breadcrumb-item a:hover {
    color: var(--clr-text-color);
}

.breadcrumb-item a:hover::after {
    width: 100%;
}


.spacer {
    height: 20dvh;
    width: 100%;

}


/* Resources Page */

.menu-category-page {
    width: 20%;
    height: 7px;
    border-radius: 20px;
    margin: 15px 0;
    background-color: var(--clr-primary-color);
}

.resources-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 300px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    gap: 2rem 2rem;
}

.resources-item {
    max-width: 280px; 
    width: 100%; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem 1rem;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--clr-bg-color-hover-light);
    border-radius: 30px;
}

.resources-grid-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    gap: 2rem;

}

.resources-grid-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    width: 85%;
}

.resources-grid-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
}

.resources-grid-content i {
    font-size: var(--fs-lg);
    color: var(--clr-primary-color);
}
.resources-grid-content h3 {
    font-size: calc(var(--fs-md) + .2rem);
    color: var(--clr-primary-color);
    margin: 0;
    padding: 0;
}

.rp-content {
    font-size: calc(var(--fs-sm) + .1rem);
    text-align: center;
}


.resources-grid-btn {
    font-size: var(--fs-sm);
    padding: var(--button-padding-y) var(--button-padding-x) !important;
    background-color: var(--clr-primary-color);
    margin-top: auto;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.resources-grid-btn:hover {
    background-color: var(--clr-text-color);
}


/* Online Subs */
.note {
    color: red;
    font-weight: var(--fw-xbold);
}

.email {
    color: var(--clr-text-color);
}

.content-text-custom {
    background-color: var(--clr-accent-color-four);
    border-radius: 10px;
    font-size: var(--fs-md);
    margin: 1.5rem 0 !important;
}

.tab-panel {
    width: 100%;
}

.tab-panel[aria-hidden="true"] {
  display: none;
}

.tab-panel[aria-hidden="false"] {
  display: block;
}


.tab-panel[aria-hidden="true"] {
  display: none;
}

.tab-panel[aria-hidden="false"] {
  display: block;
}


.bento-layout,
.bento-layout-two,
.bento-layout-three,
.bento-layout-three{
    width: 100%; 
    height: 100%;
    margin: 0 auto; 
}





.bento-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    gap: 1.2rem;
    grid-template-areas:
        "div1"
        "div2"
        "div3"
        "div4"
        "div5"
        "div6";
}

.bento-grid-two {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    gap: 1.2rem;
    grid-template-areas:
        "wq1"
        "wq2"
        "wq3"
        "wq4"
        "wq5"
        "wq6";
}

.bento-grid-three {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    gap: 1.2rem;
    grid-template-areas:
        "qq1"
        "qq2"
        "qq3"
        "qq4"
        "qq5"
        "qq6"
        "qq7";
}

.bento-grid-three {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    gap: 1.2rem;
    grid-template-areas:
        "qq1"
        "qq2"
        "qq3"
        "qq4"
        "qq5"
        "qq6"
        "qq7";
}

.bento-grid > div,
.bento-grid-two > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* Hover animation */
.bento-grid > div:hover,
.bento-grid-two > div:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Specific grid-item areas */
.div1{ 
    grid-area: div1;
    background-image: url('../images/taf.jpg');
    background-size: cover;
    background-position: top left; 
}

.div1 img {
    width: 17rem;
    height: auto;
}.div2, .div6 {
    background-size: cover;
    background-position: center center;
}

.div6 {
    background-position: top center;
}

.div2 {
    grid-area: div2;
    background-image: url('../images/jstor.jpg');
}

.div3 {
    grid-area: div3;
    background: #d1a8ff;
}

.div4 {
    grid-area: div4;
    background: #ffd8b9;
}

.div5 {
    grid-area: div5;
    background: #e4ffc0;
}

.div6 {
    grid-area: div6;
    background-image: url('../images/ebsco-acad.jpg');
}

.div6 a {
    display: block;
    width: 100%;
    height: 100%;
}

.div2 img { width: 5rem; }
.div3 img { width: 12rem; }
.div4 img { width: 20rem; }
.div5 img,
.div6 img { width: 10rem; }

.div2 img,
.div3 img,
.div4 img,
.div5 img,
.div6 img {
    height: auto;
}



/* Panel 2*/
[class^="wq"],
[class^="qq"] {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    height: 100%;
    
}

[class^="wq"]:hover,
[class^="qq"]:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

[class^="wq"] img,
[class^="qq"] img {
    max-width: 240px;
    max-height: 400px;
    height: auto;
}




.wq1 { grid-area: wq1; background: center/cover no-repeat url('../images/the-economist.jpg'); ; }
.wq2 { grid-area: wq2; background: center/cover no-repeat url('../images/scmp.webp');  }
.wq3 { grid-area: wq3; background: top center/cover no-repeat url('../images/time-mag.webp'); }
.wq4 { grid-area: wq4; background: left center/cover no-repeat url('../images/gale.jpg'); }
.wq5 { grid-area: wq5; background: center/cover no-repeat url('../images/pressreader.webp'); border: solid 1px var(--clr-accent-color-three); background-size: 70%;}
.wq6 { grid-area: wq6; background: center center/cover no-repeat url('../images/nyt.jpg'); }
/*End of Panel 2*/

/* Panel 3*/
.qq1 { grid-area: qq1; background: center/cover no-repeat #b7c8fb; }
.qq2 { grid-area: qq2; background: center/cover no-repeat #b8dafa; }
.qq3 { grid-area: qq3; background: center/cover no-repeat #c7dcea; }
.qq4 { grid-area: qq4; background: center/cover no-repeat #fffce6; }
.qq5 { grid-area: qq5; background: center/cover no-repeat #00573f; }
.qq6 { grid-area: qq6; background: center/cover no-repeat #eec4c4; }
.qq7 { grid-area: qq7; background: center/cover no-repeat #eeeff6; }

.bento-grid-three a:nth-child(2) img,
.bento-grid-three a:nth-child(3) img,
.bento-grid-three a:nth-child(4) img {
    max-width: 140px;
}

.qq5 h3 {
    color: var(--clr-white);
    font-size: calc(var(--fs-sm), 4vw, var(--fs-md));

}
/*End of Panel 3*/
/* End Online Subs */

/* Databases */ 
.gp-databases {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 4rem; 
    padding: 10% 5%; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.gp-databases a {
    display: block; 
    text-decoration: none;
    text-align: center;
}

.gp-databases img {
    width: 40%; 
    height: 40%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.gp-databases img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
/* End Databases */ 

/* Datasets */
.dua {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    padding: var(--button-padding-y) var(--button-padding-x) !important;
    color: var(--clr-white);
    background-color: var(--clr-primary-color);
    transition: background-color 0.3s ease;
}

.dua:hover {
    background-color: var(--clr-text-color);
}

.gp-datasets {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 4rem; 
    padding: 10% 5%; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}
.gp-datasets a {
    display: block; 
    text-decoration: none;
    text-align: center;
}

.gp-datasets img {
    width: 40%; 
    height: 40%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.gp-datasets img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.gp-datasets a:nth-child(1) img{
    height: auto;
    width: 35%;
}

.gp-datasets a:nth-child(2) img{
    width: 70%;
    height: auto;
}
/* End Datasets */

/* Circulation */
.circulation-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 300px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    gap: 2rem 2rem;
}

.circulation-item {
    max-width: 280px; 
    width: 100%; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 1rem;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--clr-bg-color-hover-light);
    border-radius: 30px;
}

.circulation-grid-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    gap: 2rem;
}

.circulation-grid-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 85%;
}

.circulation-grid-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
}

.circulation-grid-content i {
    font-size: var(--fs-lg);
    color: var(--clr-primary-color);
}
.circulation-grid-content h3 {
    font-size: calc(var(--fs-sm) + .05rem);
    color: var(--clr-primary-color);
    margin: 0;
    padding: 0;
}

.circ-content {
    font-size: calc(var(--fs-sm) + .1rem);
}

.circulation-grid-btn {
    font-size: var(--fs-sm);
    padding: var(--button-padding-y) var(--button-padding-x) !important;
    background-color: var(--clr-primary-color);
    margin-top: auto;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.circulation-grid-btn:hover {
    background-color: var(--clr-text-color);
}

.circ-pages-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}

.circ-left-hero,
.circ-right-hero{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 clamp(300px, 50%, 100%);
            flex: 1 1 clamp(300px, 50%, 100%);
}

.circulation-left-hero-content {
    background-color: var(--clr-accent-color-four);
    padding: calc(var(--button-padding-y) + 1.5rem) calc(var(--button-padding-x) + 1rem);
    
    margin: 1rem ;
    border-radius: 20px;
}

.circulation-right-hero-content {
    background-color: var(--clr-accent-color-four);
    padding: calc(var(--button-padding-y) + 1.5rem) calc(var(--button-padding-x) + 1rem);
    margin: 1rem ;
    border-radius: 20px;
}

.circ-subheader {
    font-size: calc(var(--fs-sm) + .1rem);
    color: var(--clr-primary-color);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.numbered-paragraphs {
  counter-reset: paragraph; /* Initialize counter */
}

.numbered-paragraphs p {
  counter-increment: paragraph; 
  position: relative;
  padding-left: 2rem !important; 
  font-size: calc(var(--fs-sm) + .13rem);
}

.numbered-paragraphs p::before {
  content: counter(paragraph) ". ";
  position: absolute;
  left: 0;
  color: var(--clr-primary-color); 
}

/* End Circulation */

/* Document Delivery */
.dds-content {
    margin: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.dds-span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    -webkit-box-pack: start; 
        -ms-flex-pack: start; 
            justify-content: start;
    min-height: 60px; 
}

.dds-span span{
    width: 5px;
    height: 16px;
    background-color: var(--clr-primary-color);
    margin: 0 12px 5px 0;
    border-radius: 10px;
}

.dds-span h3 {
    font-size: var(--fs-xlg);
    color: var(--clr-primary-color);
    text-transform: uppercase;
}

.p-container p {
    font-size: calc(var(--fs-sm) + .2rem);
}

/* End Document Delivery */

/* Thesis and Dissertation Binding Guide */
.tdb-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 5rem 0;
}
  
.tdb-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .3rem;
    padding: 1.5rem;
}
  
.tdb-container p {
    font-size: calc(var(--fs-md) + .1rem);
}

.tdb-button{
    font-size: var(--fs-sm);
    padding: var(--button-padding-y) var(--button-padding-x) !important;
    background-color: var(--clr-primary-color);
    color: var(--clr-white);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.tdb-button:hover {
    background-color: var(--clr-text-color);
}


.tdb-letterhead,
.tdbfive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* Posts Grid -- csa*/
.posts-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem 1.5rem;
    border-radius: 10px;
    justify-items: center;
    margin: 2rem 0;
}

.posts-grid .post-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0.8rem;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    padding-bottom: 1.5rem !important;
    max-width: 300px;
    width: 100%;
}

.post-card a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.post-card .post-content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 0 !important;
    margin: 0 !important;
}

.posts-grid .post-card:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.10);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.10);
}

.posts-grid .post-card img {
    width: 100%;
    height: 230px; 
    -o-object-fit: cover; 
       object-fit: cover; 
    border-bottom: 3px solid #00573f;
}

.posts-grid .post-card h3 {
    font-size: calc(var(--fs-md) + .15rem);
    margin: .8rem .95rem;
    color: var(--clr-text-color);
    text-align: left;
}

.posts-grid .post-card h3:hover{
    color: var(--clr-primary-color);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.posts-grid .post-card p {
    font-size: var(--fs-sm);
    color: #555;
    text-align: left;
    margin: 0 .95rem 1rem !important;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.post-grid-filter {
    font-size: calc(var(--fs-sm) + .1rem);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    gap: 10px;
}

.read-more-button {
    padding: var(--button-padding-y) var(--button-padding-x);
    font-size: var(--fs-sm);
    border-radius: 20px;
    background-color: var(--clr-primary-color);
    color: var(--clr-white);
    width: auto;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: auto 0 0 0.95rem;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.read-more-button:hover{
    background-color: var(--clr-text-color);
}

#category-filter {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: calc(var(--fs-sm) + .05rem );
    color: #00573f;
    border: 1px solid var(--clr-bg-color-hover-light);
    padding: .6rem 1rem;
    border-radius: 25px;
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2300573f" height="10" viewBox="0 0 24 24" width="10" xmlns="http://www.w3.org/2000/svg"><path d="M12 16l-6-6h12z"/></svg>'); 
    background-repeat: no-repeat;
    background-position: right .7rem center;
    background-size: var(--fs-sm);
    outline: none;
    width: 180px;
}

#search-input {
    position: relative;
    border: 1px solid var(--clr-bg-color-hover-light);
    border-radius: 30px;
    font-size: var(--fs-sm);
    padding: .65rem 1.5rem;
    width: 100%;
    max-width: 425px;
}

#search-input:focus {
    outline: none;
    border: 1px solid var(--clr-bg-color-hover-light);
}

#search-input:focus::after {
    color: gray; 
}

#search-input::-webkit-input-placeholder {
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: var(--fw-normal);
}

#search-input::-moz-placeholder {
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: var(--fw-normal);
}

#search-input:-ms-input-placeholder {
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: var(--fw-normal);
}

#search-input::-ms-input-placeholder {
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: var(--fw-normal);
}

#search-input::placeholder {
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: var(--fw-normal);
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
    margin-top: 2rem;
}

#pagination button {
    font-size: var(--fs-sm);
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}



.page-btn {
    color: var(--clr-primary-color);
    border: none;
    background-color: transparent;
}

.page-btn:hover {
    color: var(--clr-white);
}

.page-btn.active,
.page-btn[aria-current="page"] {
    background-color: #00573f;
    color: #fff;
    font-weight: bold;
    border-color: var(--clr-primary-color);
}

/* Navigation buttons (with icons) */
.nav-btn {
    background-color: transparent;
    border: none;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn i {
    font-size: 1.1rem;
    color: var(--clr-text-color);
}

.nav-btn:hover {
    background-color: rgba(0, 87, 63, 0.1);
    border-radius: 4px;
}

/* End of Post Grid */

/*TAGS*/
.tags-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.2rem;
    justify-items: center;
}

.tags-hero {
    height: 30dvh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.tags-hero-text {
    font-size: clamp(2rem, 3vw, 4rem);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-primary-color);
    text-transform: uppercase;
    margin: 0 0 0 1rem;
}

.tags-hero-search {
    display: inline-block;
    padding: calc(var(--button-padding-y) + .2rem) calc(var(--button-padding-x) + .4rem) !important;
    font-size: var(--fs-md);
    background-color: var(--clr-accent-color-two);
    color: var(--clr-text-color);
    border-radius: 20px;
}

.tag-name {
    font-size: var(--fs-md); 
    font-family: var(--font-secondary);
    line-height: 1.2;
}

.tag-post-count {
    font-size: var(--fs-md);
    font-family: var(--font-secondary);
    color: var(--clr-text-color);
    font-style: italic;
}

.tags-container {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
    gap: .6rem;
    width: 250px;
}

.tags-content {
    align-items: center;
}

.tags-thumbnail img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tags-thumbnail img:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tags-title {
    line-height: .4;
}
.tags-title a{
    color: var(--clr-primary-color);
    font-size: var(--fs-reg);
    font-weight: var(--fw-semi-bold);
}

.tags-title a:hover {
    color: var(--clr-text-color);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tags-excerpt {
    font-size: calc(var(--fs-sm) + .05rem);
    color: var(--clr-accent-color);
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    text-wrap: wrap;
}
/* End of Tags */


/* Search Page */
.searchpage-hero {
    height: 25dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.searchpage-title {
    color: var(--clr-accent-color-three); 
    font-weight: var(--fw-semi-bold);
    font-family: var(--font-secondary);

}

.search-query {
    color: var(--clr-primary-color); 
}
  
.searchpage-count {
    font-size: var(--fs-xlg);
    color: var(--clr-text-color); 
    font-family: var(--font-primary);
}

.searchpage-title {
    font-size: clamp(1.8rem, 5vw, 3rem);
    color: var(--clr-accent-color-three);
    margin-bottom: 0.5rem;
}

.search-query {
    font-weight: bold;
}

.searchpage-count {
    color: var(--clr-accent-color);
    font-size: clamp(1.5rem, 4vw, 2rem);
}



.searchpage-header {
    position: relative;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    color: #00573f;
    margin: 2rem 0;
}

.searchpage-header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.2em;
    width: 6px;
    height: 1.5rem;
    background-color: #00573f;
    border-radius: 10px; /* ← makes it rounded */
}


.searchpage-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.searchpage-item {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
}


.searchpage-thumb-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.searchpage-thumbnail {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}

.searchpage-item-title {
    display: block;
    font-size: var(--fs-lg);
    font-weight: bold;
    color: var(--clr-primary-color);
    text-decoration: none;
    margin-top: 1rem !important;
}

.searchpage-item-title:hover {
    text-decoration: underline;
}

.searchpage-item-excerpt {
    font-size: var(--fs-md);
    color: #444;
    margin-top: .5rem !important;
}

/* Tags */
.searchpage-item-tags {
    margin-bottom: 0.5rem;
}

.searchpage-tag-badge {
    display: inline-block;
    background-color: #00573f;
    color: #fff;
    font-size: 0.75rem;
    padding: 0.4rem 0.75rem;
    border-radius: 20px;
    margin-right: 0.25rem;
    transition: background 0.3s ease, color 0.3s ease;
}

.searchpage-tag-badge:hover {
    background-color: var(--clr-text-color);
}

.searchpage-no-results {
    font-size: 1.1rem;
    color: #999;
    text-align: center;
    margin-top: 2rem;
}
/* End of Search Page */


.img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 1rem;
}

.bf-img-text {
    font-size: var(--fs-sm);

}


/* FAQ */
.accordion-button {
    background-color: var(--clr-accent-color-four) !important;
    color: var(--clr-text-color) !important;
    width: clamp(360px, 50vw, 800px) !important;
    font-size: calc(var(--fs-md) + .1rem);
    font-family: var(--font-secondary);
}

.accordion-button:hover,
.accordion-button:focus {
    background-color: #004f38 !important;
    color: #fff !important;
}

.accordion-button:not(.collapsed) {
    background-color: #00432f !important;
    color: #fff !important;
    box-shadow: none !important;
}

.accordion-item {
    border: none !important;
}

.accordion-body {
    background-color: var(--clr-accent-color-four) !important;
    color: var(--clr-text-color)!important;
    width: clamp(360px, 50vw, 800px) !important;
    font-size: calc(var(--fs-md) + .1rem);
}

.accordion-button::after {
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position: center;
    width: .55rem;
    height: .55rem;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.accordion-button:hover::after,
.accordion-button:focus::after {
    filter: brightness(0) invert(1); 
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
    filter: brightness(0) invert(1);
}
/* End of FAQ */

/* CU */
.cu-text p, .cu-text a {
    font-size: var(--fs-md) !important;
    color: var(--clr-text-color);
    margin: 0;
    padding: 0;
}

.cu-text {
    font-size: var(--fs-xxlg) !important;
    color: var(--clr-primary-color);
}

.cu-a {
    color: var(--clr-text-color);
}

.cu-a:hover {
    color: var(--clr-primary-color);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* End of CU */


/* LS */
.staff-header {
    width: 85%;
    height: auto;
}

.staff-hero-img {
    height: auto;
    width: 100%;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 2rem 0;
}

.team-member {
    position: relative;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 1.2rem;
    overflow: hidden;
    transition: background-image 0.4s ease;
    animation: fadeInUp 0.6s forwards;
    height: 19rem;
}

.ls-head-librarian {
    position: relative;
    background-size: contain;
    background-position: top center;
    background-image: url('../images/boss.png');
    background-repeat: no-repeat;
    border-radius: 1.2rem;
    width: 19rem;
    height: 19rem;
    transition: background-image 0.4s ease;
    animation: fadeInUp 0.6s forwards;
}

.ls-head-librarian:hover {
    background-image: url('../images/boss-hover.png');
}


.info-box {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    background: var(--clr-bg-color-two);
    color: var(--clr-text-color);
    padding: 0.8rem 1.2rem;
    font-size: var(--fs-md);
    opacity: 1;
    transition: all 0.4s ease;
}


.head-librarian-header-info-box {
    position: absolute;
    left: 15px;
    bottom: 0;
    right: 15px;
    background: var(--clr-bg-color-two);
    color: var(--clr-text-color);
    padding: 0.8rem 1.2rem;
    font-size: var(--fs-md);
    
}

.info-box .name,
.head-librarian-header-info-box .name {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-primary-color);
    text-align: center;
}

.info-box .position,
.head-librarian-header-info-box .position {
    font-size: var(--fs-sm);
    text-align: center;
    opacity: 0.6;
}

@keyframes fadeInUp {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}


.img-noel { background-image: url('../images/noel.png'); }
.img-noel:hover { background-image: url('../images/noel-hover.png'); }

.img-calvin { background-image: url('../images/calvin.png'); }
.img-calvin:hover { background-image: url('../images/calvin-hover.png'); }

.img-jonas { background-image: url('../images/jonas.png'); }
.img-jonas:hover { background-image: url('../images/jonas-hover.png'); }

.img-tubo { background-image: url('../images/tubo.png'); }
.img-tubo:hover { background-image: url('../images/tubo-hover.png'); }

.img-lesly { background-image: url('../images/lesly.png'); }
.img-lesly:hover { background-image: url('../images/lesly-hover.png'); }

.img-junel { background-image: url('../images/junel.png'); }
.img-junel:hover { background-image: url('../images/junel-hover.png'); }

.img-abby { background-image: url('../images/abby.png'); }
.img-abby:hover { background-image: url('../images/abby-hover.png'); }

.img-sam { background-image: url('../images/sam.png'); }
.img-sam:hover { background-image: url('../images/sam-hover.png'); }

.img-racz { background-image: url('../images/racz.png'); }
.img-racz:hover { background-image: url('../images/racz-hover.png'); }
/* End of LS */


/* LG */

.lg-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.lg-left-hero,
.lg-right-hero {
    flex: 1 1 clamp(400px, 50%, 100%);
    max-width: 400px;
}

.content-one a:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--clr-primary-color) !important;
}

.inverted {
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20500%22%3E%3Cpath%20d%3D%22M25%2C0H295A25%2C25%200%2C0%2C1%20320%2C25L320%2C55A25%2C25%200%2C0%2C0%20345%2C80L375%2C80A25%2C25%200%2C0%2C1%20400%2C105V475A25%2C25%200%2C0%2C1%20375%2C500H25A25%2C25%200%2C0%2C1%200%2C475V25A25%2C25%200%2C0%2C1%2025%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
    	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20500%22%3E%3Cpath%20d%3D%22M25%2C0H295A25%2C25%200%2C0%2C1%20320%2C25L320%2C55A25%2C25%200%2C0%2C0%20345%2C80L375%2C80A25%2C25%200%2C0%2C1%20400%2C105V475A25%2C25%200%2C0%2C1%20375%2C500H25A25%2C25%200%2C0%2C1%200%2C475V25A25%2C25%200%2C0%2C1%2025%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
	width: 400px;
	background-color: var(--clr-text-color);
	aspect-ratio: 8 / 11;
    padding: 2rem 4rem 2rem 2rem;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.inverted:hover {
    background-color: var(--clr-primary-color);
}

.inverted h3,
.content-two h3 {
    font-size: 2.2rem;
    color: var(--clr-white);
    font-family: var(--font-primary);
    font-weight: var(--fw-bold);
    letter-spacing: -1px;
    line-height: 0.8;
}

.content-two {
    background-image: url('../images/random-bg.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-position 0.5s ease;
    background-color: var(--clr-accent-color-four);
}

.content-two:hover {
    background-position: center center;
}

.inverted-p{
    color: var(--clr-white);
}

.inverted-text {
    color: var(--clr-primary-color) !important;
}

.content-two h3, 
.inverted-two p{
    color: var(--clr-text-color);
}

.lb-link  {
    color: var(--clr-text-color);
    transition: all 0.3s ease;
}

.lb-link:hover {
    transform: scale(1.01);
    
}

.lb-link a {
    color: var(--clr-text-color);
    font-size: calc(var(--fs-md) + .1rem);
    transition: all 0.3s ease;
}

.lb-link a:hover {
    color: var(--clr-primary-color);
    font-weight: var(--fw-semi-bold);
}


.inverted-two{
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20500%22%3E%3Cpath%20d%3D%22M25%2C0H375A25%2C25%200%2C0%2C1%20400%2C25V475A25%2C25%200%2C0%2C1%20375%2C500H25A25%2C25%200%2C0%2C1%200%2C475V85A25%2C25%200%2C0%2C1%2025%2C60L195%2C60A25%2C25%200%2C0%2C0%20220%2C35L220%2C25A25%2C25%200%2C0%2C1%20245%2C0%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
    	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20500%22%3E%3Cpath%20d%3D%22M25%2C0H375A25%2C25%200%2C0%2C1%20400%2C25V475A25%2C25%200%2C0%2C1%20375%2C500H25A25%2C25%200%2C0%2C1%200%2C475V85A25%2C25%200%2C0%2C1%2025%2C60L195%2C60A25%2C25%200%2C0%2C0%20220%2C35L220%2C25A25%2C25%200%2C0%2C1%20245%2C0%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
	width: 400px;
	aspect-ratio: 4 / 5;
    background-color: #f0f0f0;
    padding: 2rem 4rem 2rem 2rem;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    
}

.inverted-two:hover {
    background-color: var(--clr-accent-color-four);
}
/* End of LG */


/* Spaces */

.ss-header {
    font-size: clamp(4rem, 8vw, 10rem);
    line-height: 0.8;
}

.spaces-header-img {
    width: 300px;
    height: 130px;
    border-radius: 40px;
}

.tesing {
    display: flex;
    justify-content: start;
    align-items: center;
}
/* End of Spaces */

.mn-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/bg-bg.jpg');
    height: 100dvh;
    margin-top: -130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.mn-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px !important;
    max-width: 250px !important;
}

.mn-text {
    font-size: clamp(2.1rem, 3vw, 2.5rem);
}


.mn-container img {
    width: 100%;
    min-width: auto;
    max-width: 600px;
    height: auto;
    justify-items: center;
}


/* Reference Service */
.rs-inverted {
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20500%22%3E%3Cpath%20d%3D%22M25%2C0H295A25%2C25%200%2C0%2C1%20320%2C25L320%2C55A25%2C25%200%2C0%2C0%20345%2C80L375%2C80A25%2C25%200%2C0%2C1%20400%2C105V475A25%2C25%200%2C0%2C1%20375%2C500H25A25%2C25%200%2C0%2C1%200%2C475V25A25%2C25%200%2C0%2C1%2025%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
    	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20500%22%3E%3Cpath%20d%3D%22M25%2C0H295A25%2C25%200%2C0%2C1%20320%2C25L320%2C55A25%2C25%200%2C0%2C0%20345%2C80L375%2C80A25%2C25%200%2C0%2C1%20400%2C105V475A25%2C25%200%2C0%2C1%20375%2C500H25A25%2C25%200%2C0%2C1%200%2C475V25A25%2C25%200%2C0%2C1%2025%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
	width: 400px;
	background-color: var(--clr-accent-color-four);
	aspect-ratio: 8 / 11;
    padding: 2rem 4rem 2rem 2rem;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

}

.rs-inverted-two {
    -webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20700%22%3E%3Cpath%20d%3D%22M25%2C0H375A25%2C25%200%2C0%2C1%20400%2C25V595A25%2C25%200%2C0%2C1%20375%2C620L345%2C620A25%2C25%200%2C0%2C0%20320%2C645L320%2C675A25%2C25%200%2C0%2C1%20295%2C700H25A25%2C25%200%2C0%2C1%200%2C675V75A25%2C25%200%2C0%2C1%2025%2C50L225%2C50A25%2C25%200%2C0%2C0%20250%2C25L250%2C25A25%2C25%200%2C0%2C1%20275%2C0%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
    	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20700%22%3E%3Cpath%20d%3D%22M25%2C0H375A25%2C25%200%2C0%2C1%20400%2C25V595A25%2C25%200%2C0%2C1%20375%2C620L345%2C620A25%2C25%200%2C0%2C0%20320%2C645L320%2C675A25%2C25%200%2C0%2C1%20295%2C700H25A25%2C25%200%2C0%2C1%200%2C675V75A25%2C25%200%2C0%2C1%2025%2C50L225%2C50A25%2C25%200%2C0%2C0%20250%2C25L250%2C25A25%2C25%200%2C0%2C1%20275%2C0%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
	width: 400px;
    background-color: var(--clr-bg-color-two);
	aspect-ratio: 4 / 7;
    padding: 2rem;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/* End of Reference Service */

@media (min-width: 300px) {
    .subheader {
        width: 100%;
    }

    .searchpage-item {
        flex-wrap: wrap;
    }

    .global-hero-subheader,
    .gh-subsubheader {
        width: 100%;
    }

    .global-right-hero img {
        width: 100%;
        height: auto;
    }

    [class^="qq"],
    [class^="wq"] {
        height: 250px;
    }

}


@media (min-width: 600px) {
    .bento-grid {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(4, 250px); 
        grid-template-areas:
            "div1 div2"
            "div3 div2"
            "div4 div4"
            "div5 div6";
    }

    .bento-grid-two {
        grid-template-columns: repeat(2, 100%);
        grid-template-rows: repeat(4, 350px); 
        grid-template-areas:
            "wq1 wq2"
            "wq1 wq3"
            "wq4 wq5"
            "wq6 wq5";
        justify-content: center;
    }

    .bento-grid-three {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(5, 250px); 
        grid-template-areas:
            "qq1 qq2"
            "qq3 qq2"
            "qq4 qq7"
            "qq4 qq6"
            "qq5 qq5";
        height: 100%;
    }

    [class^="qq"],
    [class^="wq"] {
        height: 100%;
    }

   
    .global-right-hero img {
        width: 60%;
        height: auto;
    }

    .subheader {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .bento-grid{
        grid-template-columns: repeat(4, 220px); 
        grid-template-rows: repeat(3, 300px);
        grid-template-areas:
            "div1 div1 div1 div3"
            "div2 div4 div4 div3"
            "div5 div5 div6 div6"
    }

    .bento-grid-two {
        grid-template-columns: repeat(4, 220px); 
        grid-template-rows: repeat(4, 300px);
        grid-template-areas:
            "wq1 wq1 wq3 wq3"
            "wq2 wq2 wq3 wq3"
            "wq5 wq5 wq4 wq4"
            "wq6 wq6 wq6 wq6"
    }

    .bento-grid-three {
        grid-template-columns: repeat(3, 220px); 
        grid-template-rows: repeat(3, 300px);
        grid-template-areas:
            "qq1 qq1 qq2 qq3"
            "qq4 qq5 qq5 qq3"
            "qq6 qq6 qq6 qq7"
    }

    .global-right-hero img {
        width: 80%;
        height: auto;
    }

    .subheader {
        width: 70%;
    }

    [class^="qq"],
    [class^="wq"] {
        height: 100%;
    }

   
}

@media (min-width: 1200px) {
    .bento-grid {
        grid-template-columns: repeat(4, 300px); 
        grid-template-rows: repeat(3, 300px);
        grid-template-areas:
            "div1 div1 div1 div3"
            "div2 div4 div4 div3"
            "div5 div5 div6 div6"
    }

    .bento-grid-two {
        grid-template-columns: repeat(4, 300px); 
        grid-template-rows: repeat(4, 300px);
        grid-template-areas:
            "wq1 wq1 wq1 wq1"
            "wq2 wq2 wq3 wq3"
            "wq4 wq5 wq5 wq5"
            "wq6 wq6 wq6 wq6"
    }

    .bento-grid-three {
        grid-template-columns: repeat(4, 300px); 
        grid-template-rows: repeat(3, 300px);
        grid-template-areas:
            "qq1 qq1 qq2 qq3"
            "qq4 qq5 qq5 qq3"
            "qq6 qq6 qq6 qq7"
    }

    .subheader {
        width: 60%;
    }
    
}

.scrollToTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: var(--clr-primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 0.5rem 0.95rem;
    font-size: var(--fs-xlg);
    cursor: pointer;
    display: none; 
    z-index: 9999; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.scrollToTopBtn:hover {
    background-color: var(--clr-text-color);
}

@media (max-width: 768px) {
    .scrollToTopBtn {
        bottom: 15px;
        right: 15px;
        font-size: var(--fs-lg);
        padding: 0.6rem 0.9rem;
    }
}
