
#progress-bar {
    background: 
        -webkit-gradient(
            linear,
            left top, right top,
            from(transparent),
            color-stop(var(--progress-bar-track-color)),
            to(var(--progress-bar-track-color))
        ),
        -webkit-gradient(
            linear,
            left top, right top,
            from(var(--progress-bar-start-color)),
            to(var(--progress-bar-stop-color))
        );
    background: 
        -o-linear-gradient(
            left,
            transparent var(--progress-bar-width),
            var(--progress-bar-track-color) var(--progress-bar-width),
            var(--progress-bar-track-color) 100%
        ),
        -o-linear-gradient(
            left,
            var(--progress-bar-start-color),
            var(--progress-bar-stop-color)
        );
    background: 
        linear-gradient(
            to right,
            transparent var(--progress-bar-width),
            var(--progress-bar-track-color) var(--progress-bar-width),
            var(--progress-bar-track-color) 100%
        ),
        linear-gradient(
            to right,
            var(--progress-bar-start-color),
            var(--progress-bar-stop-color)
        );
    height: var(--progress-bar-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#site-preloader {
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: no-repeat center/cover url('../images/bg-bg.jpg');
  
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s ease, z-index 0s linear 0.5s, visibility 0s linear 0.5s;
  -o-transition: opacity 0.5s ease, z-index 0s linear 0.5s, visibility 0s linear 0.5s;
  transition: opacity 0.5s ease, z-index 0s linear 0.5s, visibility 0s linear 0.5s;
}

#site-preloader.hidden {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

.loader-inner img {
  width: 22rem !important;
  height: auto;
  -webkit-animation: fadeLogo 1s ease;
          animation: fadeLogo 1s ease;
}

@-webkit-keyframes fadeLogo {
  from { opacity: 0; -webkit-transform: scale(0.95); transform: scale(0.95); }
  to   { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}

@keyframes fadeLogo {
  from { opacity: 0; -webkit-transform: scale(0.95); transform: scale(0.95); }
  to   { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}

.header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    -o-transition: top 0.45s cubic-bezier(0.85, 0.09, 0.15, 0.91);
        -webkit-transition: top 0.45s cubic-bezier(0.85, 0.09, 0.15, 0.91);
        transition: top 0.45s cubic-bezier(0.85, 0.09, 0.15, 0.91);
}

.header-hidden {
    top: -125px; 
}

.header-text {
    background-color: var(--clr-primary-color);
    color: white;
    font-size: var(--fs-sm);
    text-align: center;
    padding: 10px;
}

.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            
    padding:  0.5rem 1.5rem !important;
    margin: 0.6rem 0;
    background-color: var(--clr-bg-color-two);
    position: relative;
    border-radius: 1.2rem;
}

.logo img {
    width: 260px;
    height: auto;
}

.hamburger {
    display: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--clr-text-color);
}
.close-btn-mobile {
    display: none;
}

.nav-container svg {
    width: 22px !important;
    height: 22px !important;
    fill: var(--clr-text-color);
}

/* Nav Menu */
.nav-menu::after {
    content: '\ea4e'; 
    font-family: "remixicon";
    margin-left: 4px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
}
.nav-menu:hover::after {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.65rem;
    list-style: none;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav-links li {
    position: relative;
    height: 100%;
    line-height: 3;
}
.nav-links a {
    text-decoration: none;
    color: var(--clr-text-color);
    font-weight: var(--fw-semi-bold);
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: var(--fs-sm);
    letter-spacing: -0.10px;
}
.nav-links a:hover {
    color: var(--clr-primary-color);
}

.sub-menu {
    position: absolute;
    top: 90%;
    right: 0;
    left: -10px;
    background: var(--clr-accent-color-four);
    opacity: 0;
    width: 285px;
    visibility: hidden;
    max-height: 0;
    overflow-wrap: break-word;
    overflow: hidden;
    -webkit-transition: opacity 0.35s ease, visibility 0.35s ease, max-height 0.35s ease;
    -o-transition: opacity 0.35s ease, visibility 0.35s ease, max-height 0.35s ease;
    transition: opacity 0.35s ease, visibility 0.35s ease, max-height 0.35s ease;
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 8px;
}

.nav-links li:hover > .sub-menu,
.nav-links li:focus-within > .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
}

.sub-menu li {
    line-height: 1.5;
}

.sub-menu a {
    position: relative;
    display: inline-block; 
    padding: 0.9rem 1.4rem !important;
    color: var(--clr-text-color);
    font-family: var(--font-secondary);
    pointer-events: auto;
    letter-spacing: 0.2px;
    cursor: pointer;
    font-weight: var(--fw-semi-bold);
    font-size: calc(var(--fs-xsm) + 0.08rem);
    text-decoration: none;
    background: none;
}

.sub-menu a::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 6px;
    width: 0;
    height: 1px;
    opacity: 70%;
    background-color: var(--clr-primary-color); 
    -webkit-transition: width 0.2s ease-in-out; 
    -o-transition: width 0.2s ease-in-out; 
    transition: width 0.2s ease-in-out;
}

.sub-menu a:hover {
    color: var(--clr-primary-color);
    width: 85%;
}

.sub-menu a:hover::after {
    width: 100%;
}



/* Mobile Styles */
@media (max-width: 1024px) {
    .hamburger {
        display: block;
        line-height: .8;
    }

    .nav-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        max-width: 430px;
        /* background-color: var(--tab-background-color); */
        background-image: url('../images/bg-bg.jpg');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: cover; 
        overflow-y: auto;
        -o-transition: right 0.55s cubic-bezier(0.85, 0.09, 0.15, 0.91);
        -webkit-transition: right 0.55s cubic-bezier(0.85, 0.09, 0.15, 0.91);
        transition: right 0.55s cubic-bezier(0.85, 0.09, 0.15, 0.91);
        z-index: 200;
        padding: 2em 3em !important;
    }

    .nav-links.active {
        right: 0;
        padding: 2em 3em !important;
    }

    

    .nav-links  li {
        width: 100%;
        height: auto;
        line-height: 2;
    }

    .nav-links > li > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: calc(var(--fs-xlg) + 0.55rem );
    }

    .sub-menu {
        position: static;
        -webkit-box-shadow: none;
                box-shadow: none;
        opacity: 1;
        visibility: visible;
        max-height: 0;
        width: 100%;
        overflow: hidden;
        padding-left: 1em;
        background-color: var(--clr-primary-color);
        -webkit-transition: max-height 0.15s ease-in-out;
        -o-transition: max-height 0.15s ease-in-out;
        transition: max-height 0.15s ease-in-out;
    }

    .sub-menu a {
        color: var(--clr-white);
    }


    .nav-links li.open .sub-menu {
        max-height: 500px;
    }

    .close-btn-mobile {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        text-align: right;
        cursor: pointer;
        color: var(--clr-primary-color);
        padding-bottom: 20px;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        width: 100vw;
        height: 100vh;
        display: none;
        z-index: 100;
    }

    .overlay.active {
        display: block;
    }
}