
/* ====================================
// MODULE: Global: Popup
// ====================================*/
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10000;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.popup-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.popup-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 2rem;
    gap: 0.7rem;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.popup-box img {
    width: 55%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.6rem;
}

.popup-content {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%; 
}

.popup-main-header {
    font-size: var(--fs-xsm);
    font-weight: 700;
    text-transform: uppercase;
    color: #000033 !important;
}

.popup-header {
    font-size: 2rem;
    margin: 10px 0;
    line-height: 1;
    font-family: var(--font-secondary);
    font-weight: var(--fw-bold);
    letter-spacing: -0.5px;
    color: var(--clr-primary-color) !important;
}

.popup-text {
    font-size: var(--fs-md);
    font-family: var(--font-secondary);
    color: var(--clr-text-color) !important;
    margin: 0.2rem 0 0.9rem;
}

.popup-button {
    padding: var(--button-padding-y) var(--button-padding-x) !important;
    font-size: var(--fs-md);
    color: var(--clr-white)!important;
    background-color: var(--clr-primary-color);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem !important;
    font-size: var(--fs-sm);
    text-align: right;
    margin-right: auto !important;
    
}

.popup-button:hover {
    background-color: var(--clr-text-color);
}

.popup-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none !important;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none;
    border: none;
    font-size: var(--fs-xlg) !important;
    color: black !important; 
    margin: 0 0.5rem 0 0;
}

.popup-close:hover {
    color: #666 !important; 
}


@media (max-width: 500px) {
    .popup-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; 
        width: 85%;
        padding: 2.5rem;
    }

    .popup-box img {
        width: 88%;
        height: auto;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        border: 0;
    }

    .popup-content {
        width: 100%;
        padding: 1rem 1.2rem;
    }

    .popup-header {
        font-size: 16px;
    }

    .popup-text {
        font-size: var(--fs-md);
        margin: 0;
    }

    .popup-close {
        background-color: var(--clr-primary-color) !important;
        color: var(--bs-white) !important;
        padding: 0.7rem 1.04rem;
        border-radius: 50%;
        font-size: var(--fs-reg) !important;
    }

    .popup-close {
        right: 5px !important;
    }
}